<suite name = "E2E QA academy" parallel = "tests">

<!--    mas maganda makakahiwalay sila ng test para iclose nya agad yung browser after magrun-->
    <test name = "Login">
        <classes>
        <class name = "Homepage"/>
        </classes>
    </test>

    <test name = "Navigation Bar">
        <classes>
            <class name = "ValidateNavigationBar"/>
        </classes>
    </test>

    <test name = "Title">
        <classes>
            <class name = "ValidateTitle"/>
        </classes>
    </test>

</suite>